# Домашнее задание по теме: пакет `pandas` (сводные таблицы)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install numpy pandas matplotlib -y

In [3]:
import pandas as pd

pd.__version__

'1.2.1'

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [4]:
# загрузить датасет в pandas dataframe
df = pd.read_csv('hotels/hotel_bookings.csv')
# показать все колонки
pd.options.display.max_columns = None
# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
# вывести список колонок
df.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

## Сводная таблица

In [6]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest), 
# типом отеля (hotel) и отменой брони (is_canceled)
df.pivot_table(index=['is_repeated_guest'],
              columns=['hotel'],
              values='is_canceled')

hotel              City Hotel  Resort Hotel
is_repeated_guest
0                    0.422534      0.287629
1                    0.217028      0.062430

In [7]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# количеством детей (children)
# типом отеля (hotel) и отменой брони (is_canceled)
df.pivot_table(index=['is_repeated_guest'],
              columns=['hotel','children'],
              values='is_canceled')

hotel             City Hotel                               Resort Hotel  \
children                0.0       1.0       2.0       3.0          0.0
is_repeated_guest
0                   0.427110  0.335779  0.391153  0.258621     0.278302
1                   0.219549  0.083333  0.083333  0.000000     0.063621

hotel
children               1.0       2.0       3.0  10.0
is_repeated_guest
0                  0.308075  0.467412  0.133333  1.0
1                  0.033333  0.000000  0.000000  NaN

In [8]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# типом депозита (deposit_type)
# типом отеля (hotel) и отменой брони (is_canceled)
# + привести обобщенные значения по каждой группе  ("итоги")
df.pivot_table(index=['is_repeated_guest'],
              columns=['hotel','children'],
              values='is_canceled',
              aggfunc='mean')

hotel             City Hotel                               Resort Hotel  \
children                0.0       1.0       2.0       3.0          0.0
is_repeated_guest
0                   0.427110  0.335779  0.391153  0.258621     0.278302
1                   0.219549  0.083333  0.083333  0.000000     0.063621

hotel
children               1.0       2.0       3.0  10.0
is_repeated_guest
0                  0.308075  0.467412  0.133333  1.0
1                  0.033333  0.000000  0.000000  NaN

In [9]:
# используя функцию cut разбить значения 
# в столбце lead_time на 6 бинов (интервалов)
lead_time_intervals = pd.cut(df.lead_time, bins=6)
# вывести результат
lead_time_intervals

0           (245.667, 368.5]
1           (614.167, 737.0]
2          (-0.737, 122.833]
3          (-0.737, 122.833]
4          (-0.737, 122.833]
                 ...
119385     (-0.737, 122.833]
119386     (-0.737, 122.833]
119387     (-0.737, 122.833]
119388     (-0.737, 122.833]
119389    (122.833, 245.667]
Name: lead_time, Length: 119390, dtype: category
Categories (6, interval[float64]): [(-0.737, 122.833] < (122.833, 245.667] < (245.667, 368.5] < (368.5, 491.333] < (491.333, 614.167] < (614.167, 737.0]]

In [10]:
# число вхождений в каждый бин (интервал)
pd.value_counts(lead_time_intervals)

(-0.737, 122.833]     79245
(122.833, 245.667]    26046
(245.667, 368.5]      11019
(368.5, 491.333]       2572
(491.333, 614.167]      425
(614.167, 737.0]         83
Name: lead_time, dtype: int64

In [11]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# lead_time_intervals
# типом отеля (hotel) и отменой брони (is_canceled)
df.pivot_table(index=[lead_time_intervals],
              columns=['hotel','is_repeated_guest'],
              values='is_canceled',
              aggfunc='mean')

hotel              City Hotel           Resort Hotel
is_repeated_guest           0         1            0         1
lead_time
(-0.737, 122.833]    0.336502  0.130887     0.232951  0.049848
(122.833, 245.667]   0.501102  0.833333     0.385028  0.240385
(245.667, 368.5]     0.713896  0.994681     0.426825  0.137931
(368.5, 491.333]     0.663124       NaN     0.495098       NaN
(491.333, 614.167]   0.892768       NaN     0.000000       NaN
(614.167, 737.0]     1.000000       NaN     0.000000       NaN